/***************************
Font Icons
***************************/
@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?88580699');
  src: url('../fonts/fontello.eot?88580699#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff?88580699') format('woff'),
       url('../fonts/fontello.ttf?88580699') format('truetype'),
       url('../fonts/fontello.svg?88580699#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
}

/***************************
General
***************************/

html,
body {
  background: url('../images/halftone.png') no-repeat center center fixed; 
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 1.125em;
}

h2 {
  font-weight: normal;
  margin: 0 5%;
  padding-bottom: 15px;
  border-bottom: 2px solid #789897;
}

a {
  text-decoration: none;
  color: #4D1E00;
}

p {
  line-height: 1.5em;
  text-indent: 10px;
  padding: 1% 4%;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

#wrapper {
  min-height: 100%;
  font-family: 'Enriqueta', serif;
  font-weight: normal;
}

/***************************
General Content Size
***************************/

#content {
  color: #4D1E00;
  padding: 20px 10px 10px;
  
}

/***************************
Header
***************************/

#header {
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
}

#brand {
  margin: 10px 0 25px;
  height: 81px;
}

#brand a {
  display: block;
  height: 100%;
  width: 100%;
  background: url('../images/logo.png') no-repeat center center;
}

/***************************
Navigation
***************************/

nav {
  text-align: center;
  font-family: 'Enriqueta', serif;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  font-weight: normal;
  padding: 15px 10px;
  color: #4D1E00;
}

/***************************
Footer
***************************/

#footer {
  width: 100%;
  height: 70px;
  text-align: center;
  margin-top: 5px;
}

#footer h3{
  margin: 0;
}

#footer h3 a {
  font-weight: 100;
  font-size: 0.5em;
}

.footer-icons {
  padding: 0;
  margin: 0 0 2px;
}

.footer-icons li {
  display: inline-block;
  font-size: 0.825em;
}
.icon-twitter:before { 
  content: '\e801'; 
} 
.icon-linkedin:before { 
  content: '\e802';
} 

/***************************
About Me Page
***************************/

.about-me-container {
  margin: 2%;
  font-size: 1em;
}

.about-me-container h2 {
  text-align: center;
}

.about-me-container img {
  text-align: center;
  display: block;
  max-width: 200px;
  margin: 30px auto 30px;
  border-radius: 25%;
  transition-duration: .4s;
}

/***************************
Projects Page
***************************/

.projects-list {
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  justify-content: space-around;
}

.projects-list li {
  box-shadow: 3px -3px 3px 3px rgba(120,152,151,0.60); 
  background-color: rgba(120,152,151,0.60); 
  background-image: url('../images/ragnarok.png');
  background-size: cover;
  background-position: center center;
  height: 200px;
  width: 250px;
  margin-bottom: 15px;
  -webkit-align-self: flex-start;
}

/***************************
Contact Page
***************************/
#contact-container h2, #contact-container li {
  text-align: center;
}

#contact-container ul {
  padding: 0;
}

#contact-container li {
  margin: 0 0 10px;
}

/***************************
Colors Misc.
***************************/

nav li a:hover, nav li a.selected { 
  background-color: rgba(120,152,151,0.30);
  border-radius: 30%;     
}

#brand:hover, .about-me-container img:hover {
  opacity: 0.6;
}

.about-me-container img:hover {
    border-radius: 50%;
}

#secondary-col li a:hover, #footer a:hover {
  color: #CF5300;
}

a:focus, nav li a:focus {
  border: 2px solid #0EBFE9;
  border-radius: 0;
  outline: none;
}



/***************************
Clearfix
***************************/

.group:before,
.group:after {
  display: table;
  content: "";
}
.group:after {
  clear: both;
}
